@model PaginatedList<RentalKendaraan_110.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Tambah Data Customer</h2>

<p>
    <a asp-action="Create">Tambah Data Baru</a>
</p>
@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p>
        Nama Customer: @Html.DropDownList("ktsd", "Pilih Nama Customer")
        Cari Data : @Html.TextBox("searchString")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Nama
                </a>
            </th>
            <th>
                Nik
            </th>
            <th>
                Alamat
            </th>
            <th>
                No Hp
            </th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                Gender
            </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoHp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGenderNavigation.IdGender)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCustomer">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCustomer">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCustomer">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex -1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex +1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>