@model RentalKendaraan_110.Models.Peminjaman

@{
    ViewData["Title"] = "Delete";
}

<h2>Hapus Data Peminjaman</h2>

<h3>Apakah Anda Yakin Ingin Mengubah Data Ini?</h3>
<div>
    <h4>Peminjaman</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TglPeminjaman)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPeminjaman)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biaya)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biaya)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCustomerNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCustomerNavigation.NamaCustomer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdJaminanNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdJaminanNavigation.NamaJaminan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdKendaraanNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKendaraanNavigation.NamaKendaraan)
        </dd>
    </dl>
    
    <form asp-action="Hapus">
        <input type="hidden" asp-for="IdPeminjaman" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Kembali</a>
    </form>
</div>
